@model L05.Models.ThreadsPageViewModel

<div class="container-fluid d-flex flex-column gap-2">
  <form asp-controller="Thread" asp-action="Index" method="GET">
    <input class="form-control" name="search" placeholder="Search" value="@Model.Search" />
  </form>
  <a class="btn btn-light" asp-controller="Thread" asp-action="Add">New Thread</a>

  @foreach (var thread in Model.Threads)
  {
    <div class="container-fluid form-control p-3">
      <div class="d-flex justify-content-between">
        <h5>@thread.Title</h5>
        <p>@thread.Author - @Program.RelativeTime(@thread.CreatedAt)</p>
      </div>
      <p>@thread.Description</p>
      <div class="d-flex justify-content-between">
        <a class="btn btn-light">
          @($"View {thread.Replies.Count} repl{(thread.Replies.Count == 1 ? "y" : "ies")}")
        </a>
        @if (thread.Author == Model.Nickname)
        {
          <div class="btn-group">
            <a class="btn btn-light" asp-controller="Thread" asp-action="Edit" asp-route-id="@thread.Id">Edit</a>
            <a class="btn btn-light" data-bs-toggle="modal" data-bs-target="#deleteModal{@thread.Id}">Delete</a>
          </div>
        }
      </div>
    </div>

    <div class="modal" tabindex="-1" id="deleteModal{@thread.Id}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm Deletion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete "@thread.Title" and all replies under it?</p>
          </div>
          <div class="modal-footer">
            <form asp-controller="Thread" asp-action="Delete" asp-route-id="@thread.Id" method="POST">
              <button type="submit" class="btn btn-danger">Yes, delete</button>
            </form>
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">No, cancel</button>
          </div>
        </div>
      </div>
    </div>
  }
</div>
