@model L05.Models.ThreadsPageViewModel

<div class="container-fluid d-flex flex-column gap-2">
  <form asp-controller="Thread" asp-action="Index" method="GET">
    <input class="form-control" name="search" placeholder="Search" value="@Model.Search" />
  </form>
  <a class="btn btn-light" asp-controller="Thread" asp-action="Add">New Thread</a>

  @foreach (var thread in Model.Threads)
  {
    <div class="container-fluid form-control p-3">
      <div class="d-flex justify-content-between">
        <h5>@thread.Title</h5>
        <p>@thread.Author - @Program.RelativeTime(@thread.CreatedAt)</p>
      </div>
      <p>@thread.Description</p>
      <div class="d-flex justify-content-between">
        <a class="btn btn-light">
          @($"View {thread.Replies.Count} repl{(thread.Replies.Count == 1 ? "y" : "ies")}")
        </a>
        @if (thread.Author == Model.Nickname)
        {
          <div class="btn-group">
            <a class="btn btn-light" asp-controller="Thread" asp-action="Edit" asp-route-id="@thread.Id">Edit</a>
            <a class="btn btn-light" asp-controller="Thread" asp-action="Delete" asp-route-id="@thread.Id">Delete</a>
          </div>
        }
      </div>
    </div>
  }
</div>
